/*
.destination-btn {
  min-width: 120px;
  min-height: 44px;
  padding: 0.5rem 1rem;
  background-color: #0041ab;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
*/

/* Changes the buttons to a card with the image and city */
.destination-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Moves the card slightly up and adds a box shadow when hovered*/
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgb(0 0 0 / 0.5);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Styling of the city name, adds a black gradient behind white text for better visibility */
.card h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  background: linear-gradient(transparent, #000);
}

.attraction .attraction-description-text {
  white-space: pre-wrap;
}

.attraction-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

