#title {
  position: fixed;
  top:0px;
  left:0px; 
  padding:10px;
  margin:0px;
  width:100%;
  text-align: center;
  z-index:10;
  font-size: 36px;
  display: block;
  background-color: #efefef;}

body {
  padding-top: 80px;
  margin: 0;}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;}
