body {
  font-family: WorkSansRegular;
}

header {
    background-color: #0000FF;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #1a2530;
}

nav a {
  margin-right: 10px;
}

main {
  margin-bottom: 80px;
}

.validations {
  border: 2px dashed;
  padding: 15px;
}

#iteration1 {
  background-color: lightblue;
}

#iteration2 {
  background-color: lightpink;
}

.html-results {
  background-color: lightgreen;
  padding: 10px;
  margin-bottom: 10px;
}

.css-results {
  background-color: plum;
  padding: 10px;
  margin-bottom: 10px;
}

.html-results img {
  width: 600px;
  height: auto;
  object-fit: cover;
}

.css-results img {
  width: 600px;
  height: auto;
  object-fit: cover;
}

#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #0000FF;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}
    
