body {
  font-family: WorkSansRegular;
}

header {
    background-color: #0000FF;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #1a2530;
}

.iteration {
  border: 3px solid;
  background-color: lightgray;
}

.ben-log {
  background-color: cornflowerblue;
  background-image: url("https://wallpapercave.com/wp/wp4118238.jpg");
  background-size: cover;
  background-position: center;
  padding: 5px;
  border: 1px solid;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.lyv-log {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdwW4f3pNgSTMaH5SmjTpY677D4JD7i8fyg&s");
  background-size: cover;
  background-position: cover;
  padding: 5px;
  border: 1px solid;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.ved-log {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAJFBMVEX/AQHfAQLUAwL/AQCzBQbSAwW7BAj/AwbeAwXWAwG6AwPDAwVcTldMAAABjElEQVR4nO3SwQ3CMAAEQScQnED//QIdeF8IaaaC0+rGfT+unRWPsU8WneOYc7Bgzu3zrHH79Y5/8Il0fmOxRqxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKxArECsQKzgHJdYq8QKzvHcWPR6A7EvFvK7+NGLAAAAAElFTkSuQmCC");
  background-size: cover;
  background-position: cover;
  padding: 5px;
  border: 1px solid;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}
  
#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #0000FF;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}
